/* Inserta tu codigo aqui */
/*GENERAL*/
*{
  font-family: FontAwesome;
}
img{
  width: 100%;
}
.cajanegra{
  background-color: #1d2020;
  display: inline-block;
  width: 95.5%;
  margin-left: 2.3%;
}
/*HEADER + NAV*/
ul li{
  display: inline-block;
}
/*BANNER*/
#headerflores{
  background-image: url(../image/header-image.jpg);
  background-size: cover;
  height: 500px;
}
/*ASIDE*/
.cajaboton{
  width: 100%;
  height: 80px;
}
button{
  background-color: #a46739;
  width: 80%;
    margin-left: 10%;
    height: 40px;
}
/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}
